<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= task.completed ? "[X]" : "[]" %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to 'd', destroy_path(task), method: :delete, data: { confirm: "Are you sure?"} %>

  </li>
  <% end %>
</ul>
